@import url(https://fonts.googleapis.com/css?family=Abril+Fatface|Lato:400,400italic,700);

html {
	background: linear-gradient(to bottom right, #C33764, #1D2671);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	color: #FDFDFD;
}

h1, h2, h3 {
	line-height: 1.2;
}


/*** Contact Strip ***/

#contact-strip {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
}

#contact-strip ul {
	list-style-type: none;
	margin: 0;
	padding: 15px 0 20px;
}

#contact-strip ul li {
	display: inline-block;
	padding: 0 10px 0;
}

#contact-strip ul li a img {
	height: 20px;
	filter: invert(100%);
}

#contact-strip ul li a img:hover {
	filter: invert(75%);
}


/*** Navigation Bar ***/

#navbar {
	position: fixed;
	top: 0;
	padding: 20px 0 0;
	width: 100%;
	text-align: center;
}

#navbar a {
	color: inherit;
	text-decoration: none;
	opacity: 1.0;
}

#navbar a:hover {
	opacity: 0.75;
}

#navbar-menu {
	margin-top: 7px;
}

#navbar-menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#navbar-menu ul li {
	display: inline-block;
	padding: 0 10px 0;
}

#navbar-menu ul li.active {
	color: #774268;
}


/*** Content ***/

#content-container {
	display: block;
  position: absolute;
  height: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: 80px 0 80px;
  background-color: #FDFDFD;
}

#content {
	margin: 0 auto 0;
	max-width: 800px;
	line-height: 1.6;
	font-size: 18px;
	color: #444444;
	padding: 0 10px;
	overflow: auto;
	text-align: center;
}

img.profile {
	height: 200px;
	padding: 0;
	border-radius: 50%;
	border: 10px solid #EEEEEE;
}

a {
	color: inherit;
	text-decoration: none;
}

p {
	text-align: center;
}

@media only screen and (max-width: 500px) {
    p {
      font-size: 12px;
    }
}


/*** Home Page ***/

h1#home {
	/*margin-top: 30%;*/
	/*border: 1px solid white;*/
	position: absolute;
	top: 50%;
	height: 100px;
	margin-top: -50px;
	width: 100%;
	text-align: center;
	text-transform: lowercase;
}


/*** About Page ***/

#about-pic {
	width: 340px;
	float: left;
}

#about-pic img {
	width: 300px;
	padding: 20px 20px 0;
	border-radius: 50%;
}

#about-desc {
	width: 440px;
	padding-left: 20px; float: left;
}

#about-desc p span {
	color: #774268;
}


/*** Resume Page ***/

#resume-pic {
	width: 100%;
}


/*** Project Page ***/

.project {
	width: 50%;
	margin-top: 50px;
	position: relative;
	float: left;
	overflow: hidden;
}

.project-label {
	width: 100%;
	height: 100%;
	text-align: center;
	position: absolute;
	top: 0;
	opacity: 0;
}

.project-label:hover {
	opacity: 1;
	background-color: rgba(247,247,247,0.9);
}

.project-label h2 {
	margin-top: 30%;
	color: #774268;
}

.project-label p {
	padding: 0 15% 0;
}

.project img {
	width: 80%;
	height: auto;
	padding: 0px 10% 0px;
	float: left;
}

.project img:hover {
	opacity: 0.5;
}

.project a {
	opacity: 0.75;
}

.project a:hover {
	opacity: 1.0;
}
