@import url(https://fonts.googleapis.com/css?family=Abril+Fatface|Lato:400,400italic,700);

html {
	background: linear-gradient(to bottom right, #C33764, #1D2671);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	color: #FDFDFD;
}

h1, h2, h3 {
	line-height: 1.2;
}


/*** Contact Strip ***/

#contact-strip {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
}

#contact-strip ul {
	list-style-type: none;
	margin: 0;
	padding: 15px 0 20px;
}

#contact-strip ul li {
	display: inline-block;
	padding: 0 10px 0;
}

#contact-strip ul li a img {
	height: 20px;
	filter: invert(100%);
}


/*** Navigation Bar ***/

#navbar {
	position: fixed;
	top: 0;
	padding: 20px 0 0;
	width: 100%;
	text-align: center;
}

#navbar a {
	color: inherit;
	text-decoration: none;
}

#navbar-menu {
	margin-top: 7px;
}

#navbar-menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#navbar-menu ul li {
	display: inline-block;
	padding: 0 10px 0;
}


/*** Content ***/

#content-container {
	display: block;
  position: absolute;
  height: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: 80px 0 80px;
	padding: 50px 0 50px;
	overflow: scroll;
	overflow-x: hidden;
	background-color: rgba(255,255,255,0.9);
}

::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}

#content {
	margin: 0 auto 0;
	max-width: 650px;
	line-height: 1.6;
	font-size: 18px;
	color: #222222;
	padding: 0 10px 20px;
	overflow: auto;
}

a {
	color: #702F6B;
	text-decoration: none;
}

a:hover {
	opacity: 0.8;
}

#content ul {
	max-width: 500px;
	margin: 0 auto 0;
	font-size: 18px;
}

.style-italic {
	font-style: italic;
}

.centered {
	text-align: center;
	margin: 0 auto 0;
}


/*** Home Page ***/

h1#home {
	/*margin-top: 30%;*/
	/*border: 1px solid white;*/
	position: absolute;
	top: 50%;
	height: 100px;
	margin-top: -50px;
	width: 100%;
	text-align: center;
	text-transform: lowercase;
	font-size: 50px;
	z-index: 1;
	vertical-align: middle;
}

.gif {
	position: absolute;
	top: 50%;
	height: 350px;
	/*margin-top: -257.5px;*/
	margin-top: -307.5px;
	width: 100%;
	overflow: hidden;
	text-align: center;
}

.gif-flip {
	transform: scaleX(-1);
}

.gif-lower {
	/*margin-top: -117.5px;*/
	margin-top: -67.5px;
}

.gif img {
	z-index: -2;
	height: 100%;
	margin: 0 auto 0;
	padding: 0;
	opacity: 0.15;
}

.gif-lower img {
	transform: rotate(180deg);
}


/*** About Page ***/

#about-pic {
	text-align: center;
}

#about-pic img {
	width: 200px;
	margin: 50px auto 10px;
	border: 5px solid #702F6B;
	border-radius: 50%;
}

#about-desc p span {
	margin-right: 5px;
}

#resume {
	width: 100px;
	margin: 30px auto 0;
	padding: 10px 20px 10px;
	border-radius: 30px;
	border: 5px solid #702F6B;
	text-align: center;
}

#resume:hover {
	background-color: #702F6B;
	color: #FEFEFE;
}


/*** Project Page ***/

.project {
	width: 100%;
	overflow: hidden;
	margin-top: 20px;
	padding-bottom: 20px;
	border-bottom: 2px solid #444444;
}

.project-last {
	border-bottom: none;
}

.project img {
	width: 100px;
	height: auto;
	float: left;
}

.project-label {
	padding-left: 50px;
	float: left;
	text-align:	left;
}

.project-label p {
	text-align: left;
}


/** Blog Page **/

.blog {
	margin: 30px 0 0;
	padding: 0 0 20px;
	border-bottom: 2px solid #777777;
}

.blog h3 {
	font-size: 30px;
	margin: 15px 0 5px;
}

.blog h4 {
	margin: 5px 0 0;
	font-size: 15px;
	color: #777777;
}

.blog p {
}

.blog img {
	height: 100px;
}

.blog-last {
	border-bottom: none;
}

.blog-post-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #FEFEFE;
	color: #222222;
	overflow: scroll;
	font-size: 21px;
	z-index: 2;
}

.blog-post {
	max-width: 650px;
	margin: 50px auto 100px;
}

.blog-post a {
	color: #444444;
	text-decoration: underline;
}

.blog-exit {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding: 20px 0 20px;
	background-color: rgba(100,100,100,0.95);
}

.blog-exit a {
	color: #FEFEFE;
}

.blog-exit .prev {
	padding-right: 100px;
	/*float: left;*/
}

.blog-exit .next {
	padding-left: 100px;
}

img.blog-cover {
	width: 100%;
}

.date {
	color: #888888;
}

code {
	font-size: 12px;
	background-color: #DDDDDD;
	margin: 0 3px 0;
}

pre {
	overflow: scroll;
	background-color: #DDDDDD;
	padding: 10px 20px 0px;
}


/** Mobile Breakpoints **/

@media only screen and (max-width: 500px) {
    p {
      font-size: 15px;
    }

		#contact-strip ul {
			padding: 10px 0 10px;
		}

		#contact-strip ul li a img {
			height: 15px;
		}

		#content-container {
		  margin: 40px 0 40px;
			padding: 25px 0 25px;
		}

		#navbar {
			padding: 10px 0 0;
		}

		#navbar-menu {
			margin-top: 0px;
		}

		h1#home {
      font-size: 32px;
    }

		.gif {
			height: 200px;
			margin-top: -200px;
		}

		.gif-lower {
			margin-top: -50px;
		}

		#about-pic img {
			width: 150px;
			margin-top: 25px;
		}

		#content ul {
			font-size: 15px;
		}

		.project-label {
			padding: 0 20px 0;
		}

		.project-card {
			width: 100%;
			text-align: center;
		}

		.project-card img {
			float: none;
		}

		.blog-post {
			padding: 0 15px 0;
		}

		.blog-exit {
			padding: 10px 0 10px;
			font-size: 15px;
		}
}
