{% extends "master.html" %}
{% set active_page = "about" %}

{% block content %}
<h1>About</h1>

<div id="about-pic">
	<img src="../static/headshot.png" />
</div>

<div id="about-desc">
	<p>Hi, I'm Ariel. I'm currently studying Computer Science and Engineering at the Massachusetts Institute of Technology. I'm interested in data science, design, education, and how they intersect.</p> 
	<p>On campus, I'm an undergraduate researcher with the Collective Learning Group at the MIT Media Lab, working on an open source suite of data visualization tools for React Native. I'm also a project team member with Design for America, a counselor with Camp Kesem, an ultimate frisbee player with sMITe, and a member of Kappa Alpha Theta.</p>
	<p>This summer I'll be a software enginnering intern at Rent the Runway. In the past I've worked as a machine learning research assistant at the Columbia University Center for Computational Learning Systems and a teaching assistant with Computer Science for Urban Youth.</p>
</div>
{% endblock %}
