{% extends "master.html" %}

{% block content %}
<div id="content-container">
	<div id="content">
		<h2>Hi, I'm Ariel</h2>

		<div id="about-pic">
			<img src="images/headshot.png" />
		</div>

		<div id="about-desc">
			<!--<p class="style-italic">Lately I've been...</p>-->
			<p><span class="style-italic">Lately I've been:</span> Studying <a href="https://www.eecs.mit.edu/">Computer Science and Engineering at MIT</a>. Creating data visualization tools with the <a href="http://macro.media.mit.edu/">MIT Media Lab Collective Learning Group</a>. Coding and designing as an engineering intern at <a href="https://www.renttherunway.com/">Rent the Runway</a>. Volunteering and fundraising as a counselor with <a href="http://campkesem.org/mit">Camp Kesem</a>. Building the <a href="https://medium.com/mit-women-in-eecs">MIT Women in EECS</a> community on the Executive Board. Playing ultimate with sMITe. Hoping the Yankees hold on to their playoff spot.</p>

			<!--<ul>-->
				<!--<li>Studying <a href="https://www.eecs.mit.edu/">Computer Science and Engineering at MIT</a></li>-->
				<!--<li>Creating data visualization tools with the <a href="http://macro.media.mit.edu/">MIT Media Lab</a></li>-->
				<!--<li>Interning as a software engineer at <a href="https://www.renttherunway.com/">Rent the Runway</a></li>-->
				<!--<li>Volunteering as a counselor and fundraising with <a href="http://campkesem.org/mit">Camp Kesem</a></li>-->
				<!--<li>Building the <a href="https://medium.com/mit-women-in-eecs">MIT Women in EECS</a> community</li>-->
			<!--</ul>-->
		</div>

		<a href="resume.pdf">
			<div id="resume">Resume</div>
		</a>
	</div>
</div>
{% endblock %}
