<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Ariel Skye Levy</title>

	<!-- Custom CSS -->
	<!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" media="screen">-->
	<link rel="stylesheet" type="text/css" href="../static/style.css?version=3.9.0.5" media="screen">


	<!-- Custom Javascript -->
	<script src="__JS_FILE_NAME__"></script>
</head>

<body>
	<div id="content">{% block content %}{% endblock %}</div>

	<div id="navbar">
		<div id="logo">Ariel Skye Levy</div>

		{% set navbar_menu = [
			('/', 'home', 'Home'),
			('/about', 'about', 'About'),
			('/resume', 'resume', 'Resume'),
			('/projects', 'projects', 'Projects'),
		] -%}
		{% set active_page = active_page -%}
		<div id="navbar-menu">
			<ul>
				{% for href, id, caption in navbar_menu %}
					<li {% if id == active_page %}class="active"{% endif %}>
						<a href="{{ href|e }}">{{ caption|e }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>

		<div id="navbar-contact">
			<ul>
				<li><a href="https://www.linkedin.com/in/ariel-skye-levy"><img src="../static/linkedin.png" /></a></li>
				<li><a href="https://github.com/askyel"><img src="../static/git.png" /></a></li>
				<li><a href="mailto:aslevy@mit.edu"><img src="../static/mail.png" /></a></li>
			</ul>
		</div>
	</div>
</body>
