{% extends "master.html" %}

{% block content %}
<div id="content-container">
	<div id="content">
		<h2>Projects</h2>

		<a href="https://macroconnections.github.io/replot/"><div class="project">
			<div class="project-card">
				<img src="{{url_for('static', filename='replot_circle.png')}}" />
			</div>
			<div class="project-label">
				<h3>Replot</h3>
				<p>Open source suite of React Native data visualization tools.</p>
			</div>
		</div></a>

		<a href="#"><div class="project">
			<div class="project-card">
				<img src="{{url_for('static', filename='teensy_circle.png')}}" />
			</div>
			<div class="project-label">
				<h3>(f)light</h3>
				<p>Simulated archery system with Arduino microcomputers.</p>
			</div>
		</div></a>


		<a href="https://brain-power.com"><div class="project project-last">
			<div class="project-card">
				<img src="{{url_for('static', filename='brainpow_circle2.png')}}" />
			</div>
			<div class="project-label">
				<h3>Brain Power</h3>
				<p>Augmented reality education system for autism.</p>
			</div>
		</div></a>
	</div>
</div>
{% endblock %}
