{% extends "master.html" %}
{% set active_page = "projects" %}

{% block content %}
<h1>Projects</h1>

<div class="project">
	<div class="project-label">
		<h2>Replot</h2>
		<p>Open source suite of React Native data visualization tools.</p>
	</div>
	<div class="project-card">
		<a href="https://macroconnections.github.io/replot/"><img src="../static/replot.png" />
</a> 
	</div>
</div>

<div class="project">
	<div class="project-label">
		<h2>Brain Power</h2>
		<p>Augmented reality education system for autism.</p>
	</div>
	<div class="project-card">
		<a href="https://brain-power.com"><img src="../static/brainpow.png" /></a>
	</div>
</div>
{% endblock %}
