h1,h2,h3 {
  line-height: 1.2;
  font-family: 'Roboto Slab', serif;
}

.App {
  line-height: 1.6;
  font-size: 18px;
  font-family: 'Open Sans', 'Helvetica', sans-serif;
}

.page {
  height: 100vh;
}

.home {
  text-align: right;
  color: white;
}

.home-hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding-right: 100px;
  margin: 0;
}

.home-hero h1 {
  margin: 0;
  padding: 0;
  font-size: 50px;
}

.home-hero ul {
  list-style: none;
}

.home-hero a {
  color: white;
  text-decoration: none;
}

.home-hero a:hover {
  border-right: 1px solid white;
  padding-right: 5px;
}

.content {
  margin: 40px auto;
  padding: 0 50px;
  max-width: 650px;
  color: #444;
}

.section {
  padding: 100px 0 0;
}

.section h2 {
  border-top: 5px solid #444;
  padding-top: 10px;
  width: 50px;
}

.work-item {
  padding: 20px 0;
}

.work-item-logo {
  position: relative;
  height: 25px;
  float: left;
  padding-right: 10px;
}

.work-item-header h3 {
  float: left;
  margin: 0;
  padding: 0;
}

.work-item-description {
  clear: both;
  font-size: 14px;
  margin-left: 35px;
}

.work-item-content {
  clear: both;
  padding-top: 10px;
  padding-left: 35px;
}

.footer {
  padding: 20px 0;
  font-size: 12px;
  height: 20px;
  background-color: #444;
  color: #ddd;
}

.footer-content {
  max-width: 650px;
  margin: 0 auto;
}

.contact {
  float: left;
}

.contact ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contact li {
  display: block;
  float: left;
  padding-right: 10px;
}

.contact img {
  height: 20px;
}

.copyright {
  float: right;
}

@media (max-width: 600px) {
  .App {
    font-size: 14px;
  }

  .home-hero {
    padding-right: 50px;
  }

  .work-item-logo {
    height: 20px;
    padding-right: 5px;
  }

  .work-item-header h3 {
    font-size: 15px;
  }

  .work-item-content {
    padding-left: 20px;
  }

  .footer {
    height: 50px;
  }

  .contact {
    float: none;
    display: block;
    height: 20px;
    text-align: center;
    padding-bottom: 10px;
  }

  .contact ul {
    height: 20px;
    width: 150px;
    margin: 0 auto;
    text-align: center;
    padding-left: 10px;
  }

  .copyright {
    float: none;
    display: block;
    text-align: center;
  }
}
