h1,h2,h3 {
  line-height:1.2
}

.App {
  text-align: center;
  /* margin: 40px auto;
  padding: 0 10px; */
  /* max-width: 650px; */
  line-height: 1.6;
  font-size: 18px;
  color: #444;
}

.page {
  height: 100vh;
}

.content-panel {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 50%;
  float: left;
  padding: 0;
  margin: 0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
