.title-panel-container {
  height: 100%;
  width: 50%;
  float: left;
  padding: 0;
  margin: 0;
}

.title-panel {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  color: white;
}
